[Oo]bj/
[Bb]in/
TestResults/
packages/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.psess
*.vsp
*.pidb
*~ #vim temp file
*.sublime-workspace
*.userprefs
*.dbmdl
*.vsscc
*.vspcc
*.*sdf
*.ipch
*.sln.ide
*.jfm
project.lock.json
.build/
.testPublish/
/.vs/
.vscode/
global.json
*.g.targets

*DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
